<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Animal Cards</title>
  <link rel="stylesheet" href="style.css"/>
</head>
<body>
  <header>
    <h1>Adoptable Animals</h1>
  </header>
  <main class="card-container">

<% for (let i = 0; i < pets.length; i++) { %>
 


    <div class="card">
      <img src= "<%= pets[i].Photo %>" alt="Animal Photo">
      <div class="card-info">
        <h2>Name: <%= pets[i].name %></h2>
        <p><strong>Type:</strong> <%= pets[i].animalType %></p>
        <p><strong>Breed:</strong> <%= pets[i].Breed %></p>
        <p><strong>Appearance:</strong> <%= pets[i].appearance %></p>
        <p><strong>Vaccinated:</strong> <%= pets[i].vaccinated%></p>
        <p><strong>Location:</strong> <%= pets[i].location %></p>
        <p><strong>Age:</strong> <%= pets[i].age%></p>
       </div>

       <button onclick="deletePet('<%= pets[i]._id %>')">Delete</button>
      
       <div class="card">
   <form onsubmit="editPet(event, '<%= pets[i]._id %>')">
     <input name="name" value="<%= pets[i].name %>" />
     <input name="age" type="number" value="<%= pets[i].age %>" />
     <input name="Photo" type="string" value="<%= pets[i].Photo %>" />
     <input name="Breed" type="string" value="<%= pets[i].Breed  %>" />
     <input name="location" type="string" value="<%= pets[i].location %>" />
     <input name="vaccinated" type="boolean" value="<%= pets[i].vaccinated %>" />
     <button type="submit">Update</button>
   </form>
 </div>
 
    </div>
   <%}%>
    
  </main>
  <script src="Form.js"></script>
</body>
</html>
